@inherits LayoutComponentBase

<link href="content/css/vendor.min.css" rel="stylesheet" />
<link href="content/css/global.min.css" rel="stylesheet" />

<Layout>
    <LayoutHeader Fixed="true">
        <NavMenu />
    </LayoutHeader>
</Layout>


<div class="container-fluid">
    <div class="card jh-card">
        @Body
    </div>

    <div class="footer">
        <p>This is your footer</p>
    </div>
</div>

