<?xml version="1.0" encoding="utf-8"?>

<views:MvxContentPage xmlns:views="clr-namespace:MvvmCross.Forms.Views;assembly=MvvmCross.Forms"
                      x:TypeArguments="viewModels:WelcomeViewModel"
                      xmlns:viewModels="clr-namespace:<%= namespace %>.Client.Xamarin.Core.ViewModels;assembly=<%= namespace %>.Client.Xamarin.Core"
                      xmlns="http://xamarin.com/schemas/2014/forms"
                      xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
                      x:Class="<%= namespace %>.Client.Xamarin.Core.Views.WelcomeView">
    <ContentPage.Content>
        <StackLayout>
            <StackLayout Padding="10" VerticalOptions="StartAndExpand">
                <Label FontSize="Title" Text="Welcome, Java Hipster!"/>
                <Label Text="This is your homepage"/>
                <StackLayout>
                    <StackLayout.Triggers>
                        <DataTrigger TargetType="StackLayout" Binding="{Binding IsConnected}" Value="True">
                            <Setter Property="IsVisible" Value="False"/>
                        </DataTrigger>
                    </StackLayout.Triggers>
                    <StackLayout BackgroundColor="Orange" Padding="15">
                        <Label LineBreakMode="WordWrap">
                            <Label.FormattedText>
                                <FormattedString>
                                    <Span Text="If you want to "/>
                                    <Span Text="sign in" FontAttributes="Bold">
                                        <Span.GestureRecognizers>
                                            <TapGestureRecognizer Command="{Binding SignIn}"/>
                                        </Span.GestureRecognizers>
                                    </Span>
                                    <Span Text=", you can try the default accounts:"/>
                                </FormattedString>
                            </Label.FormattedText>
                        </Label>
                        <Label Text="- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;)"></Label>
                        <Label Text="- User (login=&quot;user&quot; and password=&quot;user&quot;)."></Label>
                    </StackLayout>
                    <StackLayout BackgroundColor="Orange" Padding="15">
                        <Label LineBreakMode="WordWrap">
                            <Label.FormattedText>
                                <FormattedString>
                                    <Span Text="You don't have an account yet? "/>
                                    <Span Text="Register a new account" FontAttributes="Bold">
                                        <Span.GestureRecognizers>
                                            <TapGestureRecognizer Command="{Binding SignUp}"/>
                                        </Span.GestureRecognizers>
                                    </Span>
                                </FormattedString>
                            </Label.FormattedText>
                        </Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout IsVisible="{Binding IsConnected}" BackgroundColor="LightGreen" Padding="15">
                    <Label LineBreakMode="WordWrap">
                        <Label.FormattedText>
                            <FormattedString>
                                <Span Text="You are logged in as user &quot;"/>
                                <Span Text="{Binding Username}"/>
                                <Span Text="&quot;"/>
                            </FormattedString>
                        </Label.FormattedText>
                    </Label>
                </StackLayout>

                <Label Text="If you have any question on JHipster:"/>
                <StackLayout Padding="10">
                    <Label Text="&#x2022; JHipster homepage" FontAttributes="Bold">
                        <Label.GestureRecognizers>
                            <TapGestureRecognizer Command="{Binding OpenHomepage}"/>
                        </Label.GestureRecognizers>
                    </Label>
                    <Label Text="&#x2022; JHipster on Stack Overflow" FontAttributes="Bold">
                        <Label.GestureRecognizers>
                            <TapGestureRecognizer Command="{Binding OpenStack}"/>
                        </Label.GestureRecognizers>
                    </Label>
                    <Label Text="&#x2022; JHipster bug tracker" FontAttributes="Bold">
                        <Label.GestureRecognizers>
                            <TapGestureRecognizer Command="{Binding OpenBugTracker}"/>
                        </Label.GestureRecognizers>
                    </Label>
                    <Label Text="&#x2022; JHipster public chat room" FontAttributes="Bold">
                        <Label.GestureRecognizers>
                            <TapGestureRecognizer Command="{Binding OpenChatRoom}"/>
                        </Label.GestureRecognizers>
                    </Label>
                    <Label Text="&#x2022; follow @jhipster on Twitter" FontAttributes="Bold">
                        <Label.GestureRecognizers>
                            <TapGestureRecognizer Command="{Binding OpenTwitter}"/>
                        </Label.GestureRecognizers>
                    </Label>
                </StackLayout>
                <Label LineBreakMode="WordWrap">
                    <Label.FormattedText>
                        <FormattedString>
                            <Span Text="If you like JHipster, don't forget to give us a star on "/>
                            <Span Text="GitHub!" FontAttributes="Bold">
                                <Span.GestureRecognizers>
                                    <TapGestureRecognizer Command="{Binding OpenGitHub}"/>
                                </Span.GestureRecognizers>
                            </Span>
                        </FormattedString>
                    </Label.FormattedText>
                </Label>
            </StackLayout>
            <StackLayout VerticalOptions="EndAndExpand">
                <Label Text="This is your footer"></Label>
            </StackLayout>
        </StackLayout>
    </ContentPage.Content>
</views:MvxContentPage>