@using <%= namespace %>.Client.Shared.Components
@namespace <%= namespace %>.Client.Test.Pages.TestPages

<h3>TestAlertError</h3>

<AlertError @ref="AlertError"></AlertError>

@code {
    public AlertError AlertError { get; set; }
}
