name: Generator
on: [push, pull_request]
permissions:
  contents: read
jobs:
  dotnetcore:
    name: npm-test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - run: npm ci
      - run: npm run test
